.s {
  .contact {
    background-color: white;

    background-size: cover;
    p {
      font-weight: 600;
      font-family: "Cairo";
      font-size: 20px;
      color: black;
      margin-bottom: 0px;
    }
    .icon {
      color: $mainColor;
      font-size: 40px;
      font-weight: bolder;
    }
    .contact-form-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mainColor;
      color: white;
      font-family: $mainFont;
      font-weight: 600;
      font-size: 15px;
      padding: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .cntact-content-p {
      font-size: 20px;
      font-weight: 400;
      font-family: $mainFont;
      color: $mainColor;
      margin-bottom: 10px;
    }
    .contact-left-contnet {
      flex-direction: row;
      row-gap: 5px;
      padding-top: 40px;
      .contact-left-content-icon {
        font-size: 21px;
        color: $mainColor;
      }
      .contact-left-content-p {
        font-size: 17px;
        color: $mainFontColor;
        font-weight: 400;
        font-family: $mainFont;
        margin-bottom: 0px;
      }
    }
    @media (max-width: 767px) {
      .contact {
        display: flex;
        flex-direction: column-reverse !important;
      }
    }

    @media (max-width: 667px) {
      .row-revers {
        flex-direction: column-reverse;
      }
      .s {
        margin-bottom: 10px !important;
      }
      .contact-left-content-top {
        margin-top: 10px;
      }

      .contact-left-contnet {
        padding-top: 0px;
      }
    }
  }
  .ant-form-item-explain-error {
    text-align: right;
  }
  input,
  textarea {
    font-family: "Cairo";
    font-weight: 400;
    border: 0.05rem solid #b1a8a8;
  }
}
