.header {
  width: 100%;
  position: relative;
  .header-section1 {
    width: 100%;
    min-height: (90vh) !important;
    padding: 0px 40px;
    position: relative;

    clear: 50px;
    &::before {
      content: "";
      position: absolute;
      z-index: -1 !important;
      top: -95px;
      background-color: $secondeColor;
      width: 100%;
      min-height: 100%;
      left: 0px;
      transform: skewY(2.4deg);
      -webkit-transform: skewY(2.4deg);
      -moz-transform: skewY(2.4deg);
      -ms-transform: skewY(2.4deg);
      -o-transform: skewY(2.4deg);
      transform-origin: top left;
    }
  }

  .header-section1-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20;
    position: relative;
  }
  @media (max-width: 992px) {
    .header-section1-img {
      display: none;
    }
    .ccc {
      align-items: flex-start;
    }
  }
  .header-section2 {
    width: 100%;
    min-height: 40%;

    .header-section2-p {
      font-size: 20px;
      font-weight: 600;
      font-family: "Cairo";
      width: 100%;
      display: flex;
      justify-content: center;
      p {
        font-size: 30px;
        font-weight: 600;
        font-family: "Cairo";
        margin-bottom: 0px;

        border-bottom: 3px solid $mainColor;
      }
    }
    @media (max-width: 992px) {
      .header-section2-container {
        flex-direction: column-reverse;
      }
    }

    .header-section2-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
    }
    p {
      font-weight: 800;
      color: #282828;
      line-height: 1.8;
      margin-bottom: 0px;
      font-size: 16px;
      font-family: "Cairo";
    }
  }
  .header-section1-content {
    padding: 10px 0px !important;
    p {
      font-family: "Cairo";
      font-size: 25px;
      text-align: right;
      font-weight: bolder;
    }
    span {
      // font-family: $mainFont;
      font-size: 25px;
      color: $mainColor;
      font-weight: bolder;
    }
  }
  .header-section1-content-p {
    color: $mainFontColor !important;
    text-align: right;
    font-family: "Cairo";
    font-weight: bold;
  }

  .header-section2-content {
    padding-top: 40px;
  }

  .header-section1 {
    height: calc(100vh - 90px);
  }
  @media (max-width: 992px) {
    .header-section1 {
      min-height: (100vh -90px) !important;
    }
  }

  .section-content-readmore {
    color: $mainColor !important;
    font-weight: bold !important;
  }

  .header-section-imge-iner {
    animation: img 5s linear 0s infinite;
    -webkit-animation: img 5s linear 0s infinite;
    position: absolute;
  }

  @keyframes img {
    0% {
      top: -70px;
    }
    50% {
      top: 10px;
    }

    100% {
      top: -70px;
      left: 0px;
    }
  }

  .pppp {
    margin-bottom: 0;
    font-size: 15px !important;
    margin-bottom: 3px;
    font-weight: 600 !important;
    font-family: $mainFont !important;
  }

  .header-section1-content-btn {
    border-radius: 7px;
    padding: 20px 25px;
    display: flex;
    border: none;
    background-color: $mainColor;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
      font-family: "Cairo";
      color: white;
      margin-bottom: 0px;
    }
  }

  .header-content-icon-down {
    font-size: 34px;
    color: $mainColor;
    position: absolute;
    top: -100px;
    animation: icon 1s infinite 0s linear;
    -webkit-animation: icon 1s infinite ease;
  }

  @keyframes icon {
    0% {
      top: -100px;
    }

    50% {
      top: -35px;
    }

    70% {
      top: -30px;
    }

    100% {
      top: -100px;
    }
  }
  @media (max-width: 767px) {
    .header-section1 {
      padding: 10px !important;
    }
  }

  @media (max-width: 992px) {
    .header-section1-content {
      p {
        font-family: "Cairo" !important;
        font-size: 20px;
        text-align: right;
        font-weight: bolder !important;
      }
    }
    span {
      font-size: 20px;
    }
  }

  @media (max-width: 992px) {
    .center {
      text-align: center !important;
    }
  }
  @media (max-width: 776px) {
    .header-section2 {
      p {
        font-size: 13px;
      }
    }
  }
  @media (max-width: 992px) {
    .image-about {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  .disappeare {
    display: none;
  }
}
