.features {
  .features-p {
    font-size: 25px;
    font-weight: 600;
    font-family: "Cairo";
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    p {
      font-size: 25px;
      font-weight: 600;
      font-family: "Cairo";
      margin-bottom: 0px;

      border-bottom: 3px solid $mainColor;
    }
  }
  .features-content-t {
    width: 100%;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .features-content-header {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 30px;
      .features-content-header-first-childe {
        font-size: 20px;
        font-weight: bolder;
        font-family: $mainFont;
        color: $mainFontColor;
      }
      .features-content-header-seconde-childe {
        line-height: 17px;
        text-align: center;
        font-weight: 500;
        margin-top: 11px;
        font-size: 13;
        margin-bottom: 25;
      }
      p {
        margin-bottom: 0px;
      }
    }
  }
  li {
    text-align: right;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
  }
  .feature-content-header-li {
    line-height: 2.8;
    position: relative;
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background: $mainColor;
      position: absolute;
      border-radius: 50%;
      right: -21px;
      top: 15px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  @media (max-width: 992px) {
    .feature-content-img {
      display: none !important;
    }
  }
  .section-content-row {
    display: flex;
    row-gap: 20px !important;
  }

  .member-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f0ff;
    // box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    width: 32%;
  }
  p {
    margin-bottom: 0px;
    text-align: right;
    white-space: nowrap;
  }
  .member-content-title {
    font-size: 17px;
    font-weight: 400;
    font-family: "Cairo";
    margin-bottom: 0px;
  }

  .member-content-readmore {
    color: $mainColor;
    font-weight: bold;
  }
  .memeber-content-human {
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid $mainColor;
    padding: 4px;
  }

  .section-content-row {
    display: flex;
    row-gap: 60px !important;
  }
  .member-icon {
    font-size: 20px;
    color: $mainColor;
  }

  .member-content-row {
    row-gap: 60px !important;
    direction: ltr;
  }

  @media (max-width: 576px) {
    .member-content-row {
      justify-content: center !important;
      flex-direction: row;
      display: flex;
    }
  }
  .flag {
    position: absolute;
    top: -11px;
    left: 10px;
  }
  .flagss {
    position: absolute;
    top: -1px;
    left: 10px;
  }

  .member-content-header {
    position: relative;
  }
  @media (min-width: 776px) and (max-width: 992px) {
  }

  .ppp {
    margin-bottom: 15px;
    width: 100%;
    font-weight: 600;
    p {
      font-size: 13px !important;
      margin-top: 10px;
      line-height: 1.8;
      border-bottom: 4px solid #00b1c5;
      padding-bottom: 3px;
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-family: $mainFont;
    }
  }
  .flag-font {
    position: absolute;
    top: 33px;
    font-size: 15px !important;
    left: -28px;
    color: white !important;
    font-weight: 600;
    font-family: "Cairo";
  }
  .flag-fonts {
    position: absolute;
    top: 26px;
    font-size: 15px !important;
    left: -6px;
    color: white !important;
    font-weight: 600;
    font-family: "Cairo";
  }

  .member-content-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f3f0ff;
    height: 100px;
    padding: 20px;

    p {
      font-weight: 600;
      color: $mainFontColor;
      font-family: "Cairo";
      width: 100%;
      font-size: 17px;
    }
  }

  .flib {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #f38521;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;
    box-sizing: border-box;
    color: $mainFontColor;
  }

  .flab {
    box-sizing: border-box;
    width: 200px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: $mainFont;
    color: $mainFontColor;
    border-bottom: 5px solid #f5f5f5;
  }

  @media (max-width: 667px) {
    .flab,
    .flib {
      width: 100px;
    }
  }

  .member-content-active {
    color: $mainFontColor;
    font-family: "Cairo";
    font-weight: 400;
    text-align: right;
    margin-right: 0px;
    font-size: 15px;
    white-space: normal;
  }
  .member-btn {
    background-color: $mainColor;
    padding: 20px 70px;
    color: white;
    font-family: "Cairo";
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .disable {
    color: #1d1d1d5d !important;
    font-weight: 400;
    white-space: normal;
  }

  @media (max-width: 992px) {
  }
  @media (max-width: 776px) {
    .header-section2 {
      p {
        font-size: 13px;
      }
    }
  }

  .type-member {
    font-size: 18px;
    font-family: $mainFont;
    color: $mainColor;
    font-weight: 600;
  }
  .type-member-content {
    font-size: 14px;
    font-family: $mainFont;
    color: #b1a8a8 !important;
    font-weight: 200;
    font-style: normal;
  }
  @media (max-width: 992px) {
    .member-content-row {
      flex-direction: row-reverse;
    }
  }
  @media (min-width: 992px) {
    .member-content-row {
      flex-direction: row-reverse !important;
    }
  }
}
