.modal {
  .ant-col.ant-form-item-label {
    width: 100% !important;
  }

  .ant-modal-close {
    color: white !important;
  }
  .ant-input {
    text-align: right;
  }

  label {
    display: flex;
    justify-content: start;
    direction: rtl;
    font-family: "Cairo";
    font-weight: 400;
  }

  .text {
    font-family: $mainFont;
  }
  .ant-select-selector {
    font-family: "Cairo";
    text-align: right;
  }
  .ant-form-item-label > label::after {
    content: ":";
    position: relative;
    top: -0.5px;
    margin: 0 1px 0 2px;
  }
  .a {
    background-color: $mainColor !important;
  }
  .aa {
    border: 1px solid $mainColor !important;
  }
  .b {
    background-color: #828ef7 !important;
  }
  .bb {
    border: 1px solid #828ef7 !important;
  }
  .c {
    background-color: #3b6be8 !important;
  }
  .cc {
    border: 1px solid #3b6be8 !important;
  }
}

.modal.c {
  .ant-modal-header {
    padding: 16px 24px;
    color: #000000d9;
    background-color: #3b6be8 !important;
    border: 1px solid #3b6be8 !important;
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;
  }
}
.modal.b {
  .ant-modal-header {
    padding: 16px 24px;
    color: hsla(0, 0%, 0%, 0.851);
    background: #828ef7 !important;
    border: 1px solid #828ef7 !important;
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;
  }
}
.modal.a {
  .ant-modal-header {
    padding: 16px 24px;
    color: #000000d9;
    background: #01b0c3 !important;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 10px 10px 0 0 !important;
    -webkit-border-radius: 10px 10px 0 0 !important;
    -moz-border-radius: 10px 10px 0 0 !important;
    -ms-border-radius: 10px 10px 0 0 !important;
    -o-border-radius: 10px 10px 0 0 !important;
  }
}
