.Sections {
  .Sections-p {
    font-size: 25px;
    font-weight: 600;
    font-family: "Cairo";
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    p {
      font-size: 25px;
      font-weight: 600;
      font-family: "Cairo";
      margin-bottom: 0px;

      border-bottom: 3px solid $mainColor;
    }
  }
  .section-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;

    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 20px;
    width: 32%;
  }
  p {
    margin-bottom: 0px;
    text-align: right;
  }
  .section-content-title {
    font-size: 17px;
    font-weight: 600;
    font-family: "Cairo";
    margin-bottom: 0px;
    width: 100%;
    margin-top: 5px;
    text-align: right;
  }

  .section-content-readmore {
    color: $mainColor;
    font-weight: bold;
  }
  .section-content-row {
    display: flex;
    row-gap: 60px !important;
    justify-content: flex-end;
  }

  @media (max-width: 992px) {
    .col-des {
      display: none;
    }
    .section-content-row {
      flex-direction: row-reverse;
    }
    .hidden {
      display: none;
    }
  }
  .hidden {
    visibility: hidden;
  }
  .content-p {
    font-weight: 400 !important;
  }

  @media (max-width: 776px) {
    .content-p {
      font-size: 13px;
    }
  }

  @media (max-width: 576px) {
    .icon-section {
      justify-content: center !important;
      text-align: center !important;
    }
    .section-content-title {
      text-align: right !important;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .two {
    // gap: 80px;
  }
}
