.footer {
  background-color: $secondeColor;
  width: 100%;
  padding: 30px;

  .member-icon {
    font-size: 35px;
    color: $mainColor;
  }
  .footer-link {
    color: $mainColor;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer-icon-s {
    font-size: 22px;
    color: $mainColor;
  }

  @media (max-width: 992px) {
    .row-s {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
