.navbar {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100% !important;
  flex-wrap: wrap;

  background-color: white;
  .navbar-btn {
    background-color: $mainColor;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    border: none;
  }

  ul {
    display: flex;
    text-decoration: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  ul li {
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 72.68px;
    padding: 0px 20px;
  }

  li {
    margin-bottom: 0px;
    line-height: 1.8;
    box-sizing: border-box;
    min-width: 72.68px;
    padding: 20px;
    &::before {
      content: "";
    }
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  @media (max-width: 992px) {
    ul {
      gap: 4px;
    }
    ul li {
      padding: 0px 10px;
      min-width: 68.68px;
    }
  }
  @media (max-width: 776px) {
    .navbar-li-small {
      display: none;
    }
  }

  .navbar-img-logo {
    height: 50px;
  }
}

@media (max-width: 667px) {
  .navbar-div-image-log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .navbar {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .navbar-left {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  ul {
    width: fit-content !important;
  }
  .Navbar-dev-btn {
    display: none;
  }
  .navbar-div-ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-div-image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 992px) {
    ul {
      gap: 4px;
    }
    ul li {
      padding: 0px 10px;
      min-width: 68.68px;
    }
  }
  @media (max-width: 767px) {
    ul li {
      padding: 0px 5px !important;
      font-size: 12px;
      min-width: 19.68px !important;
    }
  }
}
