@import "abstracts/variable.scss";
@import "index.scss";
@import "layout/navbar.scss";
@import "home/index.scss";
@import "home/features.scss";
@import "home/sections.scss";
@import "home/member.scss";
@import "layout/footer.scss";
@import "home/contact.scss";
@import "home/modal.scss";

@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 500px) {
  .container {
    width: 99%;
    margin: auto;
  }
}
@media (min-width: 667px) {
  .container {
    width: 90%;
    padding: 0px;
    margin: auto;
  }
}

@media (min-width: 767px) {
  .container {
    width: 730px;
    padding: 0px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 982px;
    padding: 0px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
    padding: 0px;
    margin: auto;
  }
}

ul {
  display: flex;
  text-decoration: none;
}

.margin-system {
  margin-bottom: 60px;
}

.modal {
  .ant-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 10px !important;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    pointer-events: auto;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
  }
}
