@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Lato&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 450px) {
  /* body {
    width: max-content !important;
    margin: auto;
  } */
  .ccc {
    align-items: center !important;
  }
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.ant-modal-title {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  text-align: center !important;
  font-family: "Cairo" !important;
  font-weight: 600;
  color: white !important;
}
.ant-modal-footer {
  display: none;
}

.ant-select-item-option-content {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right !important;
  font-family: "Cairo" !important;
}

.ant-notification-notice-message {
  text-align: right;
  font-family: "Cairo";
}
.ant-form-item-explain-error {
  text-align: right;
  font-family: "Cairo";
}

@media (max-width: 667px) {
  .revers {
    flex-direction: column-reverse !important;
  }
}
